.sidenav-container {
  height: 100%;
  }
  .sidenav {
  width: 200px;
  }
  .sidenav .mat-toolbar {
  background: inherit;
  }
  .mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
  }
  .container {
  margin-top: 25px;
  margin-left: 20px;
  }
  