<div class="container">
  <nav>
    <a routerLink="/produtos" routerLinkActive="active">Produtos</a>
    <a routerLink="/produto-novo" routerLinkActive="active">Novo Produto</a>
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="container">
  <app-menu></app-menu>
</div>